In [41]:
# Import some important libraries
import pandas as pd, numpy as np

# Read the CSV file
df = pd.read_csv("bank-additional-full.csv")
df.head(10)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
5,45,services,married,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
6,59,admin.,married,professional.course,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
7,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
8,24,technician,single,professional.course,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
9,25,services,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [42]:
# Show the number of columns and rows of the dataset
df.shape

(41188, 21)

In [43]:
# Show some info about the dataset 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [44]:
# Show some important info about only the numerical columns in the dataset
df.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,40.02406,258.285010,2.567593,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911
std,10.42125,259.279249,2.770014,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528
min,17.00000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.00000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.00000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.00000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.00000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

# Data Preprocessing Steps

In [45]:
# Identify categorical and numerical columns
categorical_cols = df.select_dtypes(include = ['object']).drop('y', axis = 1).columns.tolist()
numerical_cols = df.select_dtypes(include = ['int64', 'float64']).columns.tolist()

In [46]:
# Split the target column and other features
x = df.drop('y', axis = 1)
y = df.y.map({'yes' : 1, 'no' : 0}).values

In [47]:
# Import some importan libraries in order to use them in data preprocessing 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from imblearn.over_sampling import SMOTE

In [48]:
# Splitting the dataset into training and test sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

In [49]:
# Define preprocessors for numerical and categorical data
numerical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())
])
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Create a pipeline that first preprocesses the data
preprocessor = ColumnTransformer(
    transformers = [
        ('num', numerical_transformer, numerical_cols),  
        ('cat', categorical_transformer, categorical_cols)
    ]
)
# Apply the transformer to data
x_train_preprocessed = preprocessor.fit_transform(x_train)
x_test_preprocessed = preprocessor.fit_transform(x_test)

# Apply SMOTE to training data 
smote = SMOTE()                # the syenthetic minority oversampling technique is significantly used when (imbalanced dataset) one class is less represented than the others
x_train_resampled, y_train_resampled = smote.fit_resample(x_train_preprocessed, y_train)

# Model Construction, Training and Evaluation

In [51]:
# Import some import libraries
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, BatchNormalization
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint

# Warning Filtering
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)
warnings.filterwarnings('ignore', category=UserWarning)


# The Costruction Phase of the Model 
model = Sequential([
    Dense(256, activation = 'relu', input_dim = x_train_resampled.shape[1]),
    BatchNormalization(),
    Dropout(0.30),
    Dense(64, activation = 'relu'),
    BatchNormalization(),
    Dropout(0.30),
    Dense(32, activation = 'relu'),
    BatchNormalization(),
    Dropout(0.30),
    Dense(16, activation = 'relu'),
    BatchNormalization(),
    Dropout(0.30),
    Dense(8, activation = 'relu'),
    BatchNormalization(),
    Dropout(0.30),
    Dense(1, activation = ('sigmoid'))
])

# The Compliling Phase of the Model
model.compile( optimizer = tf.keras.optimizers.Adam(learning_rate =  0.001), loss = 'binary_crossentropy', metrics = ['accuracy'])

# Callbacks
early_stopping = EarlyStopping(monitor='val_loss', patience=10)
model_checkpoint = ModelCheckpoint('best_model.h5', save_best_only=True)

# The Training Phase of the Model 
print("Training Phase Results : ")
print()
model.fit(x_train_preprocessed, y_train_resampled, epochs = 10, batch_size = 15, validation_split = 0.3, callbacks=[early_stopping, model_checkpoint])

print()
print()

# The Evaluation Phase of the Model
model = tf.keras.models.load_model('best_model.h5')
print("Evaluation Phase Result : ")
print()
loss, accuracy = model.evaluate(x_test_preprocessed, y_test)
print(f"Loss Value = {loss} and Percentage of Accuracy = {round(accuracy * 100)} %")

Training Phase Results :

Epoch 1/10
1538/1538 [==============================] - 9s 5ms/step - loss: 0.3816 - accuracy: 0.8308 - val_loss: 0.2058 - val_accuracy: 0.9059
Epoch 2/10
1538/1538 [==============================] - 6s 4ms/step - loss: 0.2488 - accuracy: 0.8887 - val_loss: 0.1910 - val_accuracy: 0.9085
Epoch 3/10
1538/1538 [==============================] - 6s 4ms/step - loss: 0.2306 - accuracy: 0.8903 - val_loss: 0.1921 - val_accuracy: 0.9063
Epoch 4/10
1538/1538 [==============================] - 6s 4ms/step - loss: 0.2257 - accuracy: 0.8933 - val_loss: 0.1882 - val_accuracy: 0.9096
Epoch 5/10
1538/1538 [==============================] - 6s 4ms/step - loss: 0.2261 - accuracy: 0.8913 - val_loss: 0.1923 - val_accuracy: 0.9081
Epoch 6/10
1538/1538 [==============================] - 7s 5ms/step - loss: 0.2205 - accuracy: 0.8925 - val_loss: 0.1914 - val_accuracy: 0.9054
Epoch 7/10
1538/1538 [==============================] - 8s 5ms/step - loss: 0.2206 - accuracy: 0.8925 - val_loss: 0.1871 - val_accuracy: 0.9092
Epoch 8/10
1538/1538 [==============================] - 8s 5ms/step - loss: 0.2213 - accuracy: 0.8934 - val_loss: 0.1863 - val_accuracy: 0.9110
Epoch 9/10
1538/1538 [==============================] - 17s 11ms/step - loss: 0.2191 - accuracy: 0.8944 - val_loss: 0.1892 - val_accuracy: 0.9093
Epoch 10/10
1538/1538 [==============================] - 12s 8ms/step - loss: 0.2179 - accuracy: 0.8937 - val_loss: 0.1889 - val_accuracy: 0.9117


Evaluation Phase Result :

258/258 [==============================] - 1s 3ms/step - loss: 0.1835 - accuracy: 0.9120
Loss Value = 0.1835470050573349 and Percentage of Accuracy = 91 %